*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 360px;
}
button {
    border: 0;
}
.slick-arrow.slick-prev, .slick-arrow.slick-next {
    &:before {
        color: #000;
    }
}
.payment-cont {
    margin-top: 20px;
}
.nav-box {
    width: 100%;
    background-color: rgb(78, 160, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: #fff;
        padding: 15px;
        text-decoration: none;
        transition: .3s;

        &.brand-logo {
            font-size: 24px;
            font-weight: bold;
        }
        &.shop-logo {
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
.cart {
    margin-top: 20px;
    h5 {
        margin-bottom: 30px;
    }
    ul {
        list-style: none;

        .cart-item {
            display: flex;
            .item-img {
                width: 25%;
                min-width: 230px;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .item-desc {
                width: 75%;
                padding-left: 20px;
                .title {
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
                .price {
                    text-align: right;
                    font-weight: bold;
                    padding-right: 10px;
                }
            }
            
        }
    }
    @media(max-width: 600px) {
        ul {
            .cart-item {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .item-img {
                    width: 100%;
                    max-width: 350px;
                }
                .item-desc {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
    }
    .total-box {
        width: 100%;
        background-color: rgb(78, 160, 255);
        p {
            color: #fff;
            margin: 0;
            padding: 10px;
            font-weight: bold;
            font-size: 20px;
            text-align: right;
        }
    }
    .stepper {
        div {
            a {
                line-height: 34px!important;
                transition: .3s;
                &:hover {
                    text-decoration: none;
                }
            }
            span {
                line-height: 34px!important;
            }
        }
        margin-bottom: 20px;
    }
    .buttons {
        margin: 10px 0;
        padding: 10px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        div, button {
            color: #fff;
            background-color: rgb(78, 160, 255);
            padding: 10px 40px;
            margin-left: 50px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.card-box {
	margin-left: auto;
	margin-right: auto;
    width: 320px;
    min-height: 180px;
    border-radius: 5px;
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    position: relative;
    .card-number {
        position: absolute;
        color: #fff;
        top: 50%;
        left: 65%;
        transform: translate(-50%,-50%);
        font-weight: bold;
        width: 100%;
    }
    .card-expired{
        position: absolute;
        color: #fff;
        top: 60%;
        left: 20%;
        font-weight: bold;
        margin-bottom: 0;
    }
    .card-name {
        position: absolute;
        color: #fff;
        bottom: 20px;
        left: 20px;
        margin-bottom: 0;
    }
    .card-img {
        position: absolute;
        color: #fff;
        bottom: 0px;
        right: 10px;
        max-width: 100px;
        z-index: 0;
    }
    .card-btn {
        background-color: #fff;
        color: #000;
        position: absolute;
        top: 10px;
        right: 5px;
        border: 0;
        border-radius: 4px;
        padding: 5px;
        font-size: 12px;
        transition: .3s;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}
.active-card-box {
    color: #fff;
    background-color: rgb(78, 160, 255);
    padding: 10px 40px;
    margin: 35px 0;
    text-align: center;
}
